.servisler__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.servisler__container > div {
    background: var(--color-bg-variant);
    padding: 2.5rem 5rem;
    border-radius: 0.4rem 0.4rem 2rem 2rem;
    border: 3px solid transparent;
    transition: var(--transition);
}

.servisler__container > div:hover {
    background: transparent;
    border-color: var(--color-bg-variant);
    cursor: default;
}

.servisler__title{
    float:calc();
    background: var(--color-primary);
    margin: -2rem 0 1rem ;
    padding: 2rem;
    border-radius: 0.5rem 0.5rem 2rem 2rem;
}

.servisler__container > div h3 {
text-align: center;
color: var(--color-bg);
font-size: 1.5rem;
}

.servisler__details {
    display: flex;
    gap: 1rem;
}

.servisler__details-icon {
    font-size: 1rem;
    margin-top: 5px;
    color: var(--color-primary);
}

/*Media*/

@media screen and (max-width: 1024px) {
    .servisler__container {
        grid-template-columns: 1fr;
    }

    .servisler__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .servisler__container {
        gap: 1rem;
    }

    .servisler__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}